DATABASE_URL=
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES= 

MAIL_USERNAME=test
MAIL_PASSWORD=test
MAIL_FROM=no-reply@classplus.dev
MAIL_SERVER=localhost
MAIL_FROM_NAME=ClassPlus
MAIL_PORT=1025
MAIL_STARTTLS=false
MAIL_SSL_TLS=false